<link rel="stylesheet" href="/css/_header.css" />
<header>
  <div id="about-app">
    <span id="sitename_logo"> Baatein </span>
  </div>
  <span id="image_user">
    <img
      src="https://cdn-icons-png.flaticon.com/128/1144/1144760.png"
      alt="user"
    />
  </span>
  <span>
    <img
      src="https://cdn-icons-png.flaticon.com/128/6839/6839887.png"
      alt="More"
    />
  </span>
</header>
