<link rel="stylesheet" href="/css/sign_in.css" />
<div id="top">
  <div>
    <form action="/login" method="post">
      <span id="heading">Sign In</span>
      <table>
        <tr>
          <td>Username</td>
          <td>
            <input type="text" placeholder="Enter Your username" required />
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>
            <input type="password" placeholder="Enter Your password" required />
          </td>
        </tr>
      </table>
    </form>
    <div style="display: flex; flex-direction: row; justify-content: center">
      <a href="sign-up" style="font-size: 1.5rem; font-weight: 600"
        ><button type="submit">Sign Up</button></a
      >
      <button type="submit">Login</button>
    </div>
  </div>
</div>
