<link rel="stylesheet" href="/css/sign_in.css" />
<div id="top">
  <div id="form-data">
    <form action="/users/login" method="post">
      <span id="heading">Sign In</span>
      <table>
        <tr>
          <td>Username</td>
          <td>
            <input
              type="text"
              name="email"
              placeholder="Enter Your username"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>
            <input
              type="password"
              name="password"
              placeholder="Enter Your password"
              required
            />
          </td>
        </tr>
      </table>
      <div id="buttons">
        <a href="sign-up" style="font-size: 1.5rem; font-weight: 600"
          ><button type="button">Sign Up</button></a
        >
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
