<link rel="stylesheet" href="/css/user_profile.css" />
<div class="profile-container">
  <h1>User Profile</h1>
  <div class="profile-container">
    <div class="profile-info">
      <p><strong>Name:</strong> <%= user.firstname+" "+user.lastname %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <p><strong>Phone:</strong> <%= user.phone %></p>
      <p><strong>Date of Birth:</strong><%= user.dob.toLocaleDateString() %></p>
    </div>
  </div>
  <section id="feed-posts">
    <form action="" id="new-post-form" method="post">
      <textarea name="content" id="" cols="30" rows="5"> </textarea>
      <button>
        <button type="submit">Post</button>
      </button>
    </form>
  </section>
  <a href="/users/sign-out"><button type="buton">Log Out</button></a>
</div>
