.profile-container {
  text-align: center;
  margin: 40px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
}

.profile-info {
  margin-top: 20px;
}

.profile-info p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}
button {
  height: 3rem;
  width: 10rem;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1rem;
}
button:hover {
  /* background-image: linear-gradient(45, aqua, pink); */
  background-color: aqua;
}
