#profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%; }

#profile-page::-webkit-scrollbar {
  display: none; }

.profile-container {
  padding: 20px;
  border-radius: 5px;
  text-align: center; }

h1 {
  margin-bottom: 20px; }

.profile-info {
  margin-bottom: 20px; }

/* Additional styling for visual appeal */
.profile-info p {
  margin-bottom: 5px; }

strong {
  font-weight: bold; }

button {
  height: 3rem;
  width: 10rem;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1rem; }

button:hover {
  /* background-image: linear-gradient(45, aqua, pink); */
  background-color: aqua; }

.profile-container {
  display: flex;
  flex-direction: column; }

#text-area {
  width: 20rem;
  height: 7rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none; }

#dp {
  height: 10rem;
  width: 10rem;
  border: 1px solid transparent;
  border-radius: 50%; }

#name-pic {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#new-post-form {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.post-card {
  border: 1px solid #ddd;
  padding: 15px; }

.user-info {
  display: flex;
  align-items: center; }

.user-info img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 10px; }

.post-content {
  margin-top: 10px; }

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }

#post-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; }
  #post-container .post-and-comment {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    width: 30rem; }
    #post-container .post-and-comment .post-card {
      border: 1px solid #ddd;
      padding: 10px; }
      #post-container .post-and-comment .post-card .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #post-container .post-and-comment .post-card .user-info img {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          margin-right: 10px; }
        #post-container .post-and-comment .post-card .user-info span {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          font-size: 1.2rem; }
        #post-container .post-and-comment .post-card .user-info #delete-icon img {
          height: 2rem;
          width: 2rem;
          margin-right: 0.5rem;
          border-radius: 40%; }
      #post-container .post-and-comment .post-card .post-content {
        margin-top: 10px;
        font-size: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
    #post-container .post-and-comment #comment-form {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      #post-container .post-and-comment #comment-form textarea {
        width: 22rem;
        height: 4rem; }
      #post-container .post-and-comment #comment-form button {
        font-size: 1.1rem;
        height: 1.5rem;
        border-radius: 0.5rem;
        align-items: center; }
      #post-container .post-and-comment #comment-form button:hover {
        background-color: azure;
        border: 1px solid black; }
    #post-container .post-and-comment .post-comment {
      display: flex;
      background-color: antiquewhite;
      flex-direction: column; }
      #post-container .post-and-comment .post-comment #comment-card {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        padding: 0.5rem;
        overflow-y: scroll; }
        #post-container .post-and-comment .post-comment #comment-card #comment-name {
          display: flex;
          align-items: center;
          height: 2rem;
          font-size: 1.5rem;
          padding-left: 5px;
          background-color: #9ce9ea; }
          #post-container .post-and-comment .post-comment #comment-card #comment-name img {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            margin-right: 6px;
            margin-right: 5px; }
        #post-container .post-and-comment .post-comment #comment-card #comment-content {
          display: flex;
          flex-wrap: wrap;
          margin-left: 5px;
          margin-top: 5px;
          font-size: 1.2rem;
          font-family: sans-serif; }
      #post-container .post-and-comment .post-comment #comment-card::-webkit-scrollbar {
        display: none; }

#post-container::-webkit-scrollbar {
  display: none; }

form {
  display: flex;
  justify-content: space-evenly; }
  form button {
    height: 2rem;
    width: 4rem; }

#comment-form button {
  height: 2rem;
  width: auto; }
